@import 'reset';
$cor-tema : #212121;
$cor-fundo: #E8E3E7;
// $cor-letra-claro: #;
$cor-letra: #E8E3E7;
$cor-letra-txt: #212121;
$cor-transp: rgba(0, 0, 0, .7);
$cor-aside: #332E2E;
$fonte: 'Arvo', serif;

img{
  display: block;
  width: 100%;
}

.img{
  width: 35vw;
  margin-bottom: 5vh;

}

.titulo{
  font: {
    weight: bold;
    size: 1.3em;
  }
}

.flex{
  display: flex;
}

.row{
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.column{
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

body{
  background-color: $cor-fundo;
  font: {
    family: $fonte;
    size: 1.125em;
  };
  line-height: 1.125em;
  display: grid;
  grid: 70px auto 80px /300px auto 40px ;
  
}
// ///////////////////////////////////////////////////////////
.header{
  grid-area: 1 / 2 / 2 / 3;
  margin: 0 0 0 10px;
  background: $cor-tema;
  .titulo{
    font: {
      weight: bold;
      size: 1.8em;
    }
    color: $cor-letra;
  }
}

.aside{
  background-color: $cor-aside;
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  // position:fixed;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  .segura{

    .icone_social{
      width: 100%;

      .social{
        max-width: 60px;
      }
    }
  }
}

.main{
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-rows: 2fr repeat(2, 3fr);
  .banner{
    grid-row: 1 / 2;
    align-items: center;
    margin: 10px 0 0 10px;
    background: {
      image: url(../img/cervFundo.jpg);
      position: bottom;
      repeat: no-repeat;
      size: cover;
    };
    .banner_efeito{
      height: 100%;
      background: $cor-transp;

    }
    .canvas{
      margin-bottom: 1.125em;
    }
    .texto{
      width: 50vw;
      text-align: center;
      color: $cor-letra;
    }
  }

  .content_1{
    grid-row: 2 / 3;
    h1{
      margin-bottom: 5vh;
    }
    .texto{
      margin-left: 5vw;
      max-width: 30vw;
      color: $cor-letra-txt;
    }
  }

  .content_2{
    grid-row: 3/4;
    h1{
      margin-bottom: 5vh;
    }
    .texto{
      margin-right: 5vw;
      max-width: 30vw;
      color: $cor-letra-txt;
    }
  }

  .content_1::before, .content_2::before{
    content: '';
    display: block;
    width: 60px;
    height: 10px;
    margin: 20px auto;
    background-color: #212121;
  }
}

.footer{
  grid-area: 3 / 1 / 4 / 4;
  background-color: $cor-tema;
  .texto{
    text-align: center;
    color: $cor-letra;
  }
}
// 


