html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  width: 100%;
}

.img {
  width: 35vw;
  margin-bottom: 5vh;
}

.titulo {
  font-weight: bold;
  font-size: 1.3em;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #000000;
  z-index: -2;
  font-family: "Arvo", serif;
  font-size: 1.125em;
  line-height: 1.125em;
  display: -ms-grid;
  display: grid;
  grid: 4.375em auto 5em /18.75em auto 2.5em;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  margin: 0 0 0 10px;
  background: #212121;
}

.header .titulo {
  font-weight: bold;
  font-size: 1.8em;
  color: #e8e3e7;
}

.aside {
  background-color: #332e2e;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.aside .segura-subtitulo .icone_social {
  width: 100%;
}

.aside .segura-subtitulo .icone_social .social {
  max-width: 50px;
  margin: 10px;
}

.aside .menu {
  margin-bottom: 15px;
}

.aside .menu .item_menu a {
  text-decoration: none;
  color: #e8e3e7;
  padding: 15px;
  -webkit-transition: 400ms ease-in;
  transition: 400ms ease-in;
}

.aside .menu .item_menu :hover {
  color: #0BD7DE;
  background-color: #044F52;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
  display: -ms-grid;
  display: grid;
  grid: 2fr repeat(2, 3fr)/1fr;
}

.main .canvas_fundo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 4 / 2;
  background: #000;
  z-index: -1;
  margin: 0;
}

.main .canvas_fundo canvas {
  cursor: crosshair;
  display: block;
  width: 100%;
}

.main .banner {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1 / 1 / 2 /5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 0 10px;
  background-image: url(../img/cervFundo.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .banner .banner_efeito {
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.main .banner .texto {
  width: 50vw;
  text-align: center;
  color: #e8e3e7;
}

.main .content_1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2 / 1 / 3 /5;
}

.main .content_1 h1 {
  margin-bottom: 5vh;
}

.main .content_1 .texto {
  margin-left: 5vw;
  max-width: 30vw;
  color: #fafafa;
}

.main .content_2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 3 / 1 / 4 /5;
}

.main .content_2 h1 {
  margin-bottom: 5vh;
}

.main .content_2 .texto {
  margin-right: 5vw;
  max-width: 30vw;
  color: #fafafa;
}

.main .content_1::before,
.main .content_2::before {
  content: "";
  display: block;
  width: 60px;
  height: 10px;
  margin: 20px auto;
  background-color: #ff7e7ec9;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3 / 1 / 4 / 4;
  background-color: #212121;
}

.footer .texto {
  text-align: center;
  color: #e8e3e7;
}

@media (min-width: 1801px) {
  .item_menu + .item_menu {
    margin-top: 50px;
  }
}

@media (max-width: 1800px) {
  body {
    grid: 100px 200px repeat(1, 1fr) 100px/1fr;
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
  }
  .aside {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .aside .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .aside .menu .item_menu + .item_menu {
    margin-left: 30px;
  }
  .aside .icone_social .social + .social {
    margin-left: 30px;
  }
  .main {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
    grid: 1fr repeat(2, 1fr) 100px/1fr;
  }
  .main .canvas_fundo {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 4 / 2;
  }
  .main .banner {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 /2;
  }
  .main .content_1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 /2;
  }
  .main .content_2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 /2;
  }
  .footer {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4 / 1 / 5 / 2;
  }
}
/*# sourceMappingURL=estrutura.css.map */